mlflow_uri_config.txt
.ipynb_checkpoints
checkpoint*.pth
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Eval SMJA.ipynb
Training sample analysis.ipynb
*.pyc
log*.txt
best_model*.pth
models/*/*/*.pth
__pycache__
*/__pycache__
.mypy_cache